# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby dependencies
vendor/
Gemfile.lock

# Node.js dependencies
node_modules/

# Temporary files
*.swp
*.swo
*~

# macOS files
.DS_Store

# Logs and temporary files
*.log
tmp/

# Editor and IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
